*{
    margin: 0%;
    padding: 0%;
    background-color:black;
}


nav{
    
    background-color: black;
    color: red;
    padding: 20px;
    cursor: context-menu;

}

h1,ul,li{
    display: inline;
}

ul{
    margin-left:60%;
}

li{
    color: gray;
    cursor: pointer;
}

li:hover{
    color:red;
}

input{
    width:60%;
    padding:15px;
    color:white;
}

.searchbar{
    margin: 50px;
    text-align: center;
    border-radius: 2px;
}

.box{
    border-color:red;
    border-width:2px;
    border-style: solid;
    display: inline-block;
    width: 220px;
}

p{
    color:lightgray;
}

.products{
    text-align: center;
}

.about{
    color:red;
    text-align: center;
    margin-top: 20px;
    padding:20px;
}

h3{
    color:red;
}

.contact{
    text-align: center;
    padding: 40px;
}

